extends global

block content
  h1= title
  p Welcome to #{title}
  if upload
    p.notice.bg-info.text-info Your answers have been uploaded with success. Your manager will be notified. Now upload <a href="/">your own exam</a>.
  else
    p!= '<a href="/download/'+fileinfo.id+'">Download the questions</a> and Upload them in expected time.'
    p!= 'You have <strong>'+fileinfo.anstime+'</strong> to respond.'
    p The time count begin when you start to download the test.
    p Good Luck. 
  if error
    p.notice.bg-danger.text-danger 
      i.fa.fa-exclamation-triangle  
      span Error when uploading answers : #{error}
  
  if !upload
    form(method="POST", action="/answer?_csrf=#{csrf}", enctype="multipart/form-data")
      dl
        dt
          label(for="email") Please enter you email
        dd
          input.form-control(type="email",name="email",id="email",required="true")
        dt
          label(for="answerinfo") Chose your answers
        dd
          input(type="file",name="answerinfo",id="answerinfo",required="true")
        dt
          label(for="comments") Some comments for your reviewer ?
        dd
          textarea.form-control(name="comments",id="comments")
        dt
        dd
          script(src='http://www.google.com/recaptcha/api/challenge?k=#{captcha_key}')
          noscript
            iframe(src='http://www.google.com/recaptcha/api/challenge?k=#{captcha_key}', height="300", width="500", frameborder="0")
            textarea(name='recaptcha_challenge_field', rows='3', cols='40')
            input(type='hidden', name='recaptcha_response_field', value='manual_challenge')
        dt
        dd
          input(type="checkbox",checked="true",required="true",name="cgu",id="cgu")
          label(for="cgu")  &nbsp;
            a(href="/terms") Please accept our terms of use
        dt
        dd
          input(type="hidden", name="fileinfo", value="#{fileinfo.id}")
          button.btn.btn-primary(type="submit") Submit your answers
