extends global

block content
  h1= title
  p.lead Welcome to Hupothesis

  #fb-root
  script
    |  (function(d, s, id) {
    |  var js, fjs = d.getElementsByTagName(s)[0];
    |  if (d.getElementById(id)) return;
    |  js = d.createElement(s); js.id = id;
    |  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
    |  fjs.parentNode.insertBefore(js, fjs);
    |  }(document, 'script', 'facebook-jssdk'));

  if error
    p.notice.bg-danger.text-danger 
      i.fa.fa-exclamation-triangle  
      span &nbsp; Error when uploading exam : #{error}

  if upload
    p.notice.bg-info.text-info 
      i.fa.fa-exclamation-triangle  
      span &nbsp; File Uploaded with success get it on 
        a(href="/answer/#{options.fileid}") /answer/#{options.fileid}
    p Now share your brand new uploaded file
    p Share it on your favorite social media
    div.row
      div.col-md-4
        div.fb-share-button(data-href='#{options.url}/answer/#{options.userid}', data-layout='button_count', data-width='100')
      div.col-md-4
        div.tw-share-button
          a.twitter-share-button(href='https://twitter.com/share', data-url='#{options.url}/answer/#{options.userid}') Tweet
            script
              | !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      div.col-md-4
        div.lk-share-button
          script(src='//platform.linkedin.com/in.js', type='text/javascript')
            | lang: en_US
          script(type='IN/Share', data-counter='right', data-url='#{options.url}/answer/#{options.userid}')

    p Or on your website by inserting our javascript script where you want to insert widget :
    pre
      | &lt;script class="hupothesis-script-#{options.userid}" &gt;
      | (function() {
      | var s = document.createElement('script');
      | s.src = '#{options.url}/javascripts/hupothesis.js';
      | s.async = true;
      | window.hupothesis_options = (window.hupothesis_options || []).concat([{userid:"#{options.userid}",fileid:"#{options.fileid}",filetype:"#{options.filetype}",url:"#{options.url}"}]);
      | document.body.appendChild(s);
      | }());
      | &lt;/script&gt;
  
  else  
    form(method="post", action="/upload", enctype="multipart/form-data")
      dl
        dt
          label(for="email") Please enter you email
        dd
          input.form-control(type="email",name="email",id="email",required="true")
        dt
          label(for="timeup") Enter test answer time as (1d2h3m)
        dd
          input.form-control(type="text",name="timeup",id="timeup",required="true")
        dt
          label(for="fileinfo") Choose your questionary
        dd
          input(type="file",name="fileinfo",id="fileinfo",required="true")
        dt
        dd
          script(src='http://www.google.com/recaptcha/api/challenge?k=#{captcha_key}')
          noscript
            iframe(src='http://www.google.com/recaptcha/api/challenge?k=#{captcha_key}', height="300", width="500", frameborder="0")
            textarea(name='recaptcha_challenge_field', rows='3', cols='40')
            input(type='hidden', name='recaptcha_response_field', value='manual_challenge')
        dt
        dd
          input(type="checkbox",checked="true",required="true",name="cgu",id="cgu")
          label(for="cgu")  &nbsp; 
            a(href="/terms") Please accept our terms of use
        dt
        dd
          button.btn.btn-primary(type="submit") Submit your test
