extends global

block content
  h1 #{title}
  p.lead Welcome to Hupothesis. The tool that validate your hypothesis.

  h3 What is Hupothesis ?

  if error.length > 0
    p.notice.bg-danger.text-danger 
      i.fa.fa-exclamation-triangle  
      span Error when subscribing : #{error}

  if notice.length > 0
    p.notice.bg-info.text-info 
      i.fa.fa-info
      span &nbsp; #{notice}
  else
    p.
      Hupothesis is a service designed to validate your hypothesis. The tool allows you to validate hypothesis using large scale persona sample thanks to the Internet to validate your hypothesis. You have some hypothesis and want to validate it ? We can help you.
    p If you want to get notified when hupothesis will be available, fill our form.
    p You'll be able to use this same email address to use our service.

    form(method="POST", action="/launch")
      input(type="hidden",name="_csrf",value="#{csrf}")
      dl
        dt
          label(for="email") Please enter you email
        dd
          input.form-control(type="email",name="email",id="email",required="true")
        dt
        dd
          script(src='http://www.google.com/recaptcha/api/challenge?k=#{captcha_key}')
          noscript
            iframe(src='http://www.google.com/recaptcha/api/challenge?k=#{captcha_key}', height="300", width="500", frameborder="0")
            textarea(name='recaptcha_challenge_field', rows='3', cols='40')
            input(type='hidden', name='recaptcha_response_field', value='manual_challenge')
        dt
        dd
          input(type="checkbox",checked="true",required="true",name="newsletter",id="newsletter")
          label(for="newsletter") &nbsp; I want to be notified when Hupothesis will be available
        dt
        dd
          button.btn.btn-primary(type="submit") Notify me