extends global

block content
  h1 #{title}
  p Welcome to #{title}

  if error
    p.notice.bg-danger.text-danger 
      i.fa.fa-exclamation-triangle  
      span #{error}
  
  if infos
    p You can follow your uploaded exams next :
    each fileinfo in infos
      h4 Exams #{fileinfo.filename}
      ul
        li Exam name : #{fileinfo.filename}
        if fileinfo.anstime
          li Max answer time : #{fileinfo.anstime}
        if fileinfo.uptime
          li File Up Time : #{fileinfo.uptime}        
        each answerinfo in fileinfo['answers']
          h4 Answer #{answerinfo.filename}
          ul
            if answerinfo.filename
              li Answer name : #{answerinfo.filename}
            if answerinfo.downloaded
              li Downloaded on : #{answerinfo.downloaded}
            if answerinfo.added
              li Uploaded on : #{answerinfo.added}
            if answerinfo.ansTime
              li Answered in #{answerinfo.ansTime[0]}d#{answerinfo.ansTime[1]}h#{answerinfo.ansTime[2]}m
            if answerinfo.toLate
              li User answered too late
            if answerinfo.comments
              li Comments : #{answerinfo.comments}
            if answerinfo['user']
              li Uploaded by : #{answerinfo['user'].email}

